{% assign mainMenu = Model.Menu %}
{% assign defaultHomepageUrl = "~/" | absolute_url %}

<header>
  <div id="header" class="bg-primary-1 fixed top-0 z-40 w-full">
    <div class="w-full mx-auto relative xl:max-w-7xl">
      <div class="flex justify-between items-center h-20 p-4 md:px-6 lg:px-2 2xl:px-0">
        <div id="logo" class="flex">
          <a class="" href="{{ Site.BaseUrl | default: defaultHomepageUrl }}">
            <img
              class="w-[200px] h-12 object-contain"
              src="{{ ThemeSettings.logo.fullUrl }}"
              alt="{{ ThemeSettings.logo.name }}">
          </a>
        </div>
        <div class="flex gap-4 justify-end items-center">
          <!-- Cấp 1 -->
          <div class="menu-list_item hidden xl:flex">
            {% for item in mainMenu.NavItemList %}
              {% if item.ChildItems.size > 0 %}
                {% if item.ChildItems.size == 1 %}
                  <!-- nếu chỉ có 1 cột thì dùng relative ở đây -->
                <div class="wrapper-collapse flex flex-col group xl:relative xl:hover:text-white"> 
              {% else %}
                <div class="wrapper-collapse flex flex-col group xl:hover:text-white">
                {% endif %}
                  <div class="flex justify-between rounded-t-md items-center w-full xl:px-6">
                    <a class="px-2 py-3.5 w-11/12 xl:py-7 xl:px-0" href="{{ item.Url | prepend: "~/" | absolute_url }}">{{ item.Title | raw }}</a>
                    <span class="btn-collapse twi-17-arrow-down-line text-neutral-1-500 text-xl leading-none w-fit px-2 xl:text-white/60 xl:group-hover:text-white"></span>
                  </div>
                  <!-- Cấp 2 -->
                  <div class="menu-collapse scrollbar flex w-full justify-center left-0 top-full xl:absolute xl:hidden xl:group-hover:flex">
                    <div class="flex justify-between rounded-b-md bg-white w-full xl:text-neutral-1-900 xl:shadow-navmenu xl:w-fit">
                      <ul class="menu-list_subitem flex flex-col w-full xl:flex-row xl:flex-wrap max-h-[352px] overflow-y-scroll">
                        {% for itemSecond in item.ChildItems %}
                          {% if itemSecond.ChildItems.size > 0 %}
                          {% if forloop.last %}
                          <li class="flex flex-col w-full xl:relative xl:p-4 xl:gap-4 xl:w-[240px]">
                          {% else %}
                          <li class="flex flex-col w-full border-b border-neutral-2-100 xl:border-0 xl:relative xl:p-4 xl:gap-4 xl:w-[240px]">
                          {% endif %}
                            <div class="flex py-3 px-4 gap-6 w-full justify-between items-center xl:p-0 xl:items-start">
                              <a href="{{ itemSecond.Url | prepend: "~/" | absolute_url }}" class="text-body-2 flex-auto line-clamp-1 xl:text-primary-2 xl:text-base xl:font-semibold">
                                {{ itemSecond.Title | raw }}
                              </a>
                              <span class="btn-sub-collapse twi-17-arrow-down-line text-neutral-1-500 text-xl leading-none w-fit xl:hidden"></span>
                            </div>
                            <!-- Cấp 3 -->
                            <ul class="sub-menu-collapse flex flex-col font-normal w-full xl:gap-4">
                              {% for itemThird in itemSecond.ChildItems %}
                                <li class="flex items-center py-3 px-8 xl:p-0">
                                  <a href="{{ itemThird.Url | prepend: "~/" | absolute_url }}" class="text-body-2 flex-auto line-clamp-1 xl:text-title-2">
                                  {{ itemThird.Title | raw }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                          {% else %}
                          {% if forloop.last %}
                          <li class="flex px-4 py-3 xl:p-4 xl:w-[240px]">
                          {% else %}
                          <li class="flex px-4 py-3 border-b border-neutral-2-100 xl:border-0 xl:p-4 xl:w-[240px]">
                          {% endif %}
                          <a href="{{ itemSecond.Url | prepend: "~/" | absolute_url }}" class="text-body-2 flex-auto line-clamp-1 xl:text-primary-2 xl:text-base xl:font-semibold">
                            {{ itemSecond.Title | raw }}
                          </a>
                        </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                      <div class="hidden p-4 min-w-[280px] w-[22%] xl:flex">
                        <div class="w-full relative pt-[111%]">
                          <img
                            src="{{ ThemeSettings.menuImage.fullUrl }}"
                            class="image-custom object-cover rounded-lg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}

                <div class="flex">
                  {% if item.IsActive == true %}
                    <a class="px-2 py-3.5 text-primary-1 xl:text-white xl:py-7 xl:px-6" href="{{ item.Url | prepend: "~/" | absolute_url }}">
                      {{ item.Title | raw }}
                    </a>
                  {% else %}
                    <a class="px-2 py-3.5 xl:hover:text-white xl:py-7 xl:px-6" href="{{ item.Url | prepend: "~/" | absolute_url }}">
                      {{ item.Title | raw }}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}

          </div>
          <div id="cart-header" class="flex items-center border-primary-4/20 h-fit xl:pl-4 xl:border-l"></div>
          <button class="nav-toggler flex xl:hidden">
            <i class="twi-17-menu-line-line text-2xl leading-none text-white transition-all duration-700"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

{% scriptblock depends_on: "jQuery", at: "Foot" %}
  // Menu Mobile
  const navToggler = document.querySelector('.nav-toggler');
                 const navTogglerIcon = document.querySelector('.nav-toggler i');
                 const menuListItem = document.querySelector('.menu-list_item');
                 const header = document.querySelector('#header');
                 const logo = document.querySelector('#logo');
                 const cartHeader = document.querySelector('#cart-header');
                 const btnsCollapse = document.querySelectorAll('.btn-collapse');
                 const menusCollapse = document.querySelectorAll('.menu-collapse');
                 const wrappersCollapse = document.querySelectorAll('.wrapper-collapse');
                 if (menuListItem) {
                   eventOpen();
                   function eventOpen() {
                     navToggler.addEventListener('click', togglerClick);
                   };
                                                        
                   function togglerClick() {
                     if (menuListItem.classList.contains("hidden")) {
                       menuListItem.classList.replace("hidden", "flex");
                       logo.classList.replace("flex", "hidden");
                       cartHeader.classList.replace("flex", "hidden");
                       navToggler.parentNode.classList.add("w-full");
                       header.classList.replace("bg-primary-1", "bg-white");
                       navTogglerIcon.classList.replace("twi-17-menu-line-line", "twi-17-close-fill");
                       navTogglerIcon.classList.replace("text-white", "text-neutral-1-500");
                     } else {
                       menuListItem.classList.replace("flex", "hidden");
                       logo.classList.replace("hidden", "flex");
                       cartHeader.classList.replace("hidden", "flex");
                       navToggler.parentNode.classList.remove("w-full");
                       header.classList.replace("bg-white", "bg-primary-1");
                       navTogglerIcon.classList.replace("twi-17-close-fill", "twi-17-menu-line-line");
                       navTogglerIcon.classList.replace("text-neutral-1-500", "text-white");
                     }
                   }
                 }
                 
                 // Collapse sub menu
                 if (window.innerWidth < 1279) { 
                   for (let i = 0; i < btnsCollapse.length; i++) {
                     if (btnsCollapse[i]) {
                       btnsCollapse[i].addEventListener('click', (e) => {
                         for (let j = 0; j < btnsCollapse.length; j++) {
                           if (menusCollapse[j].classList.contains('collapse') && (i != j)) {
                             menusCollapse[j].classList.toggle('collapse');
                             btnsCollapse[j].classList.toggle('collapse');
                             wrappersCollapse[j].classList.toggle('collapse');
                           }
                         }
                         wrappersCollapse[i].classList.toggle('collapse');
                         menusCollapse[i].classList.toggle('collapse');
                         btnsCollapse[i].classList.toggle('collapse');
                         collapseSubMenu(menusCollapse[i]);
                       });
                     }
                   }
                   function collapseSubMenu(menuCollapse) {
                     const btnsSubCollapse = menuCollapse.querySelectorAll('.btn-sub-collapse');
                     const subMenusCollapse = menuCollapse.querySelectorAll('.sub-menu-collapse');
                     for (let j = 0; j < btnsSubCollapse.length; j++) {
                       if (subMenusCollapse[j].classList.contains('collapse')) {
                         subMenusCollapse[j].classList.toggle('collapse');
                         btnsSubCollapse[j].classList.toggle('collapse');
                       }
                     }
                     for (let i = 0; i < btnsSubCollapse.length; i++) {
                       if (btnsSubCollapse[i]) {
                         btnsSubCollapse[i].addEventListener('click', (e) => {
                           btnsSubCollapse[i].classList.toggle('collapse');
                           btnsSubCollapse[i].parentNode.classList.toggle('bg-primary-4');
                           subMenusCollapse[i].classList.toggle('collapse');
                         });
                       }
                     }
                   }
                 }{% endscriptblock %}