{% assign brandIDsArr = brandIDs | split: "," %}
<div class="flex flex-col gap-2">
  <p class="text-body-2 text-neutral-1-900">
    Thương hiệu
  </p>
  <div class="w-full flex relative bg-white dropdown scrollbar">
    <button class="dropdown-btn flex w-full justify-between items-center gap-2 pl-3 border border-neutral-2-200 rounded md:w-full">
      {% if brandIDs == nil %}
        {% assign selectedAll = "text-secondary-1 font-medium justify-between icon-selected" %}
        <p class="text-body-2 text-neutral-1-900 ">Tất cả</p>
      {% else %}
        {% assign selectedBrandId = brandIDsArr[brandIDsArr.size - 1] %}
        {% for brand in brandList.Items %}
          {% if selectedBrandId == brand.Id %}
            {% assign selectedBrand = brand %}
          {% endif %}
        {% endfor %}
        <p class="text-body-2 text-neutral-1-900 line-clamp-1">{{ selectedBrand.Title | raw }}</p>
      {% endif %}
      <span class="twi-17-arrow-down-line text-2xl leading-6 text-neutral-1-500 p-3"></span>
    </button>
    <div class="dropdown-panel absolute top-[50px] right-0 py-2 z-20 w-full hidden max-h-[338px] overflow-y-hidden">
      <ul class="flex flex-col w-full bg-white overflow-y-scroll rounded border border-neutral-2-200 shadow-dropdown">
        {% assign hrefBrand = "~/shop/search?" | append: keyParam | append: categoryIDsParam | append: minPriceParam | append: maxPriceParam | append: providerIDsParam | append: isPromotionParam | append: orderFieldParam | append: tagsParam %}
        <li>
          <a href="{{ hrefBrand | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2 {{selectedAll}}">Tất cả</a>
        </li>
        {% for brand in brandList.Items %}
          {% assign brandIDsParamUp = "&brandIDs=" | append: brand.Id %}
          {% assign hrefBrand = "~/shop/search?" | append: keyParam | append: categoryIDsParam | append: minPriceParam | append: maxPriceParam | append: providerIDsParam | append: isPromotionParam | append: orderFieldParam | append: tagsParam | append: brandIDsParamUp %}
          {% if selectedBrandId == brand.Id %}
            <li>
              <a href="{{ hrefBrand | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2 text-secondary-1 font-medium justify-between icon-selected">{{ brand.Title | raw }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ hrefBrand | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2">{{ brand.Title | raw }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>