<div class="flex flex-col gap-2">
  <p class="text-body-2 text-neutral-1-900">
    Sắp xếp theo:
  </p>
  <div class="w-full flex relative bg-white dropdown scrollbar">
    <button class="dropdown-btn flex w-full justify-between items-center gap-2 pl-3 border border-neutral-2-200 rounded md:w-full">
      {% case orderField %}
        {% when 0 %}
        <p class="text-body-2 text-neutral-1-900">Sắp xếp</p>
        {% when 4 %}
        <p class="text-body-2 text-neutral-1-900">Mới nhất</p>
        {% when 3 %}
        <p class="text-body-2 text-neutral-1-900">Cũ nhất</p>
        {% when 5 %}
        <p class="text-body-2 text-neutral-1-900">Giá từ thấp đến cao nhất</p>
        {% when 6 %}
        <p class="text-body-2 text-neutral-1-900">Giá từ cao đến thấp nhất</p>
      {% endcase %}
      <span class="twi-17-arrow-down-line text-2xl leading-6 text-neutral-1-500 p-3"></span>
    </button>
    <div class="dropdown-panel absolute top-[50px] right-0 py-2 z-20 w-full hidden max-h-[338px] overflow-y-hidden">
      <ul class="flex flex-col w-full bg-white overflow-y-scroll rounded border border-neutral-2-200 shadow-dropdown">
        {% for order in orderFieldFilter %}
          {% if order == orderField %}
            {% assign selected = "text-secondary-1 font-medium justify-between icon-selected" %}
          {% else %}
            {% assign selected = "" %}
          {% endif %}
          {% assign orderFieldParamUp = "&orderField=" | append: order %}
          {% assign urlOrderParam = "shop/search?" | append: keyParam | append: categoryIDsParam | append: minPriceParam | append: maxPriceParam | append: providerIdsParam | append: brandIDsParam | append: isPromotionParam | append: orderFieldParamUp %}
          {% case order %}
            {% when 4 %}
            <li>
              <a href="{{ urlOrderParam | prepend: '~/' | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2 {{selected}} ">Mới nhất</a>
            </li>
            {% when 3 %}
            <li>
              <a href="{{ urlOrderParam | prepend: '~/' | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2 {{selected}} ">Cũ nhất</a>
            </li>
            {% when 5 %}
            <li>
              <a href="{{ urlOrderParam | prepend: '~/' | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2 {{selected}} ">Giá từ thấp đến cao</a>
            </li>
            {% when 6 %}
            <li>
              <a href="{{ urlOrderParam | prepend: '~/' | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2 {{selected}} ">Giá từ cao đến thấp</a>
            </li>
          {% endcase %}
        {% endfor %}
      </ul>
    </div>

  </div>
</div>