{% assign productList = Model.Data %}
{% assign culture = "vi-VN" %}
{% assign currencyFormat = "{0:c}" %}

<!-- Điều kiện dùng slide ở trang chi tiết sản phẩm -->
{% if Request.Route.area == "TWeb.Products" and Request.Route.action == "Index" and Request.Route.controller == "Product" %}
  {% assign swiper-slide = "swiper-slide" %}
{% else %}
  {% assign swiper-slide = "" %}
{% endif %}

{% for product in productList.Items %}
  <div class="{{ swiper-slide }} w-full flex flex-col rounded-tl-[40px] rounded-br-[40px] border border-primary-1 border-solid bg-white relative">
    <a href="{{ product.NiceUrl | prepend: "~/" | absolute_url }}" class="px-3.5 pt-6 ">
      <div class="flex flex-col gap-[38px] border-b border-neutral-2-200 border-solid">
        <div class="flex justify-center items-center px-9">
          <div class="relative pt-[100%] w-full">
            <img src="{{ product.AvatarFullUrl }}" class="image-custom object-contain">
          </div>
        </div>
        <div class="flex flex-col pb-3 border-b border-neutral-2-200 ">
          <div class="flex">
            <div class="tooltip">
              <p data-tooltip="{{ product.Name | raw }}" class="text-header-1 font-semibold text-secondary-1 line-clamp-1 tooltip-text">{{ product.Name | raw }}</p>
            </div>
          </div>
          <p class="mt-0.5 text-neutral-1-400 font-normal line-clamp-2 min-h-[48px]">{{ product.ShortDescription | raw }}</p>
        </div>
      </div>
    </a>
    <div class="flex pl-3.5 items-center justify-between min-h-[68px]">
      {% if product.TotalQuantity <= 0 and product.IsAblePreorder == false %}
        <p class="text-header-2 font-semibold text-error-400">
          Hết hàng
        </p>
      {% else %}
        {% if product.IsPriceHidden == false %}
          {% assign minOriginalPrice = product.MinOriginalPrice | currency: format: currencyFormat, culture: culture %}
          {% assign maxOriginalPrice = product.MaxOriginalPrice | currency: format: currencyFormat, culture: culture %}
          {% assign minDisplayPrice = product.MinDisplayPrice | currency: format: currencyFormat, culture: culture %}
          {% assign maxDisplayPrice = product.MaxDisplayPrice | currency: format: currencyFormat, culture: culture %}
          {% if product.MaxDiscountPercentage != 0 %}
            {% if product.MinOriginalPrice != product.MinDisplayPrice or product.MaxDisplayPrice != product.MaxOriginalPrice %}
              {% if product.MaxDisplayPrice == product.MinDisplayPrice %}
                <div class="flex flex-col items-center py-1">
                  <p class="text-neutral-1-400 text-header-2 line-through">
                    {{ minOriginalPrice | raw }}
                  </p>
                  <p class="text-header-2 font-semibold text-primary-1">
                    {{ minDisplayPrice | raw }}
                  </p>
                </div>
              {% else %}
                <div class="flex flex-col items-center py-1">
                  <p class="text-neutral-1-400 text-header-2 line-through">
                    {{ minOriginalPrice | raw }}
                    <span>- {{ maxOriginalPrice | raw }}</span>
                  </p>
                  <p class="text-header-2 font-semibold text-primary-1">
                    {{ minDisplayPrice | raw }}
                    <span>- {{ maxDisplayPrice | raw }}</span>
                  </p>
                </div>
              {% endif %}
            {% else %}
              <p class="text-header-2 font-semibold text-primary-1">
                {{ minDisplayPrice | raw }}
                <span>- {{ maxDisplayPrice | raw }}</span>
              </p>
            {% endif %}
          {% else %}
            {% if product.MaxDisplayPrice == product.MinDisplayPrice %}
              <p class="text-header-2 font-semibold text-primary-1">
                {{ minDisplayPrice | raw }}
              </p>
            {% else %}
              <p class="text-header-2 font-semibold text-primary-1">
                {{ minDisplayPrice | raw }}
                <span>- {{ maxDisplayPrice | raw }}</span>
              </p>
            {% endif %}
          {% endif %}

          <div data-item="{{ product.Id | raw }}" class="react-modal-btn"></div>

        {% else %}
          <p class="text-header-2 font-semibold text-info-400">
            Liên hệ
          </p>
        {% endif %}
      {% endif %}

    </div>
    {% if product.MaxDiscountPercentage != 0 %}
      <div class="absolute right-0 top-[13px]">
        <div class="bg-secondary-1 py-[7px] pl-4 pr-2 relative inset-0 rounded-l-md">
          <p class="text-caption-1 text-white font-medium">Giảm {{ product.MaxDiscountPercentage }}%</p>
          <div class="arrow arrow-right absolute left-0 top-0"></div>
        </div>
      </div>
    {% endif %}
  </div>

{% endfor %}