{% assign breadCrumbList = Model.Data %}
{% assign defaultHomepageUrl = "~/" | absolute_url %}

<div class="flex flex-wrap gap-x-4 gap-y-2 py-5 text-body-1 whitespace-nowrap w-full overflow-hidden px-4 md:px-6 lg:px-2 lg:flex-nowrap 2xl:px-0">
  <a href="{{ Site.BaseUrl | default: defaultHomepageUrl }}"class="text-neutral-1-900 ">
    Trang chủ
  </a>
  {% for item in breadCrumbList %}
    {% if forloop.last %}
      <div class="flex gap-4 truncate">
        <span class="border-l-2 border-primary-1 h-full max-h-[24px]"></span>
        <p class="text-secondary-1 font-medium truncate">
          {{ item.Title | raw }}
        </p>
      </div>
    {% else %}
      <div class="flex gap-4 lg:max-w-[500px]">
        <span class="border-l-2 border-neutral-1-500 h-full max-h-[24px]"></span>
        {% if Request.Route.controller == "Product" and Request.Route.area == "TWeb.Products" %}
          {% a controller: "Shop", route_action: "Search", route_area: "TWeb.Products", route_CategoryIDs: item.Id, class: "text-neutral-1-900 whitespace-normal" %}
            <p class="line-clamp-2 lg:line-clamp-1">{{ item.Title | raw }}</p>
          {% enda %}
        {% else %}
          <a href="{{ item.NiceUrl | prepend: "~/" | absolute_url }}" class="text-neutral-1-900 whitespace-normal">
            <p class="line-clamp-2 lg:line-clamp-1">{{ item.Title | raw }}</p>
          </a>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>