{% assign imageDecor = "Web-17/decor-primary-full.svg" | generate_proxy_url: width: null, height: null %}

{% assign blog = Model.Data %}
{% assign currentCategory = blog.CurrentCategoryId | get_blog_categories_by_id %}
{% assign breadcrumbList = currentCategory | category_to_breadcrumb %}

{% assign defaultHomepageUrl = "~/" | absolute_url %}

{% assign minusPageIndex = blog.PageIndex | minus: 1 %}
{% assign minusOffSet = minusPageIndex | times: blog.PageSize %}
{% assign postsCategory = "Newest" | get_posts: offset: minusOffSet, limit: 7, nested: true %}
{% assign newestPosts = "Newest" | get_posts: limit: 3 %}

{% zone "Header" %}
  {{ 'Module__MenuWrapper' | shape_new | shape_properties: Shape: 'FE__Menu' | shape_render }}
{% endzone %}

{% zone "Footer" %}
  {{ "Module__FooterWrapper" | shape_new | shape_properties: Shape: 'FE__Footer' | shape_render }}
{% endzone %}

{{ 'Đề Xuất' | page_title_segment: position: '0' }}
{{ Site.SiteName | page_title_segment: position: 'end' }}

<main>
  <section>
    <div class="bg-primary-4 mt-20 overflow-hidden">
      <div class="mx-auto w-full xl:max-w-7xl">
        {% assign breadcrumbList = '' | split: ',' | init_breadcrumb: lastTitle: 'Tất cả bài viết' %}
        {{ 'Module__Blog_BreadcrumbWrapper' | shape_new | shape_properties: Shape: 'FE__Breadcrumb', Data: breadcrumbList | shape_render }}
      </div>
    </div>
  </section>

  <section>
    <div class="w-full relative inset-0 mx-auto overflow-hidden xl:overflow-visible">
      <div class="hidden md:flex absolute w-[138%] -left-[13%] -top-[20%] -z-10 lg:w-[112%] lg:-top-1/4 lg:-left-[10%] xl:-left-[8%] xl:w-4/5 2xl:-left-[4%] 2xl:w-[54%]">
        <div class="relative w-full pt-[109%]">
          <img
            src="{{ imageDecor }}"
            class="image-custom object-contain"
            alt="">
        </div>
      </div>
      <div class="w-full mx-auto xl:max-w-7xl">
        <div class="flex flex-col items-center w-full px-4 py-12 md:px-6 md:py-20 md:gap-10 lg:grid lg:grid-cols-3 lg:items-start lg:px-2 lg:py-[120px] xl:pb-40 2xl:px-0">
          <div class="flex flex-col w-full gap-5 order-1 md:gap-10 lg:col-span-2 lg:animate-top">
            {% if postsCategory.Items.size > 0 %}
              {{ 'Module__Blog_PostWrapper' | shape_new | shape_properties: Data: postsCategory, Shape: 'FE__Post_Category' | shape_render }}
            {% else %}
              {{ "FE__Blog_PostList_Empty" | shape_new | shape_render }}
            {% endif %}
          </div>
          <div class="flex flex-col w-full gap-5 order-3 pt-10 md:pt-0 md:gap-10 lg:col-span-1 lg:order-2 lg:sticky top-24 lg:h-fit lg:animate-top" style="animation-delay: 200ms; animation-fill-mode: backwards;">
            {{ "FE__Search_Input" | shape_new | shape_render }}
            {{ "FE__Blog_PostList_Sidebar" | shape_new | shape_properties: Data: newestPosts | shape_render }}
          </div>

          <div class="w-full order-2 pt-5 md:pt-0 lg:order-3 lg:col-span-3">
            {{
               "Module__Blog_PaginationWrapper"
             | shape_new
             | shape_properties:
             pageIndex: postsCategory.PageIndex,
             PageSize: 7,
             Total: postsCategory.TotalResult,
             Shape: "FE__Blog_Pagination"
             | shape_render }}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>