{% assign image404Url = "Web-17/404.png" | generate_proxy_url: width: null, height: null %}
{% assign defaultHomepageUrl = "~/" | absolute_url %}

{% zone "Header" %}
  {{ 'Module__MenuWrapper' | shape_new | shape_properties: Shape: 'FE__Menu' | shape_render }}
{% endzone %}

{% zone "Footer" %}
  {{ "Module__FooterWrapper" | shape_new | shape_properties: Shape: 'FE__Footer' | shape_render }}
{% endzone %}

{{ '404' | page_title_segment: position: '0' }}
{{ Site.SiteName | page_title_segment: position: 'end' }}


<main>
  <section>
    <div class="w-full mx-auto xl:max-w-7xl">
      <div class="flex flex-col items-center justify-center text-center gap-3 mt-20 py-12 px-6 text-neutral-1-900 lg:px-2 2xl:px-0">
        <div class="w-2/5">
          <div class="relative pt-[64%] w-full">
            <img
              class="image-custom object-cover rounded-tl-[20px] rounded-br-[20px]"
              src="{{ image404Url }}"
              alt="{{ image404Url | raw }}">
          </div>
        </div>
        <p class="text-display-6 font-semibold">Không tìm thấy trang “404”</p>
        <p class="text-body-2">Trang bạn tìm kiếm không tồn tại.</p>
        <div class="flex">
          <a href="{{ Site.BaseUrl | default: defaultHomepageUrl }}"class="text-white font-medium px-8 py-2 bg-primary-1 rounded-full text-body-1">
            Trang chủ
          </a>
        </div>
      </div>
    </div>
  </section>
</main>