{% assign data = Model.Data %}
{% assign rootCategories = "Root" | get_blog_categories %}

{% assign postId = data.Id | get_posts_by_id %}
{% assign category = postId.CategoryId | get_blog_categories_by_id %}
{% assign breadcrumbList = category | category_to_breadcrumb: lastTitle: postId.Title %}

{% assign imageDecor = "Web-17/decor-primary-full.svg" | generate_proxy_url: width: null, height: null %}
{% assign homeImageDecor = "Web-17/decor-white.svg" | generate_proxy_url: width: null, height: null %}

{% assign topPosts = "Desc" | get_posts_by_view: limit:3 %}
{% assign trendingPosts = 7 | get_trending_posts_date_to_date: offset: 0 %}

{% assign image404Url = "404Page/No-data.png" | generate_proxy_url: width: null, height: null %}
{% assign defaultHomepageUrl = "~/" | absolute_url %}

{% assign displayDate = postId.DateUpdated | default: postId.DatePublished | date: "%d THG %m, %Y" %}

{% style name: "tds-editor", at: "Head" %}
{% script name: "tds-editor", at: "Head" %}

{% zone "Header" %}
{{ 'Module__MenuWrapper' | shape_new | shape_properties: Shape: 'FE__Menu' | shape_render }}
{% endzone %}

{% zone "Footer" %}
{{ "Module__FooterWrapper" | shape_new | shape_properties: Shape: 'FE__Footer' | shape_render }}
{% endzone %}

<main>
    <section>
        <div class="bg-primary-4 mt-20 overflow-hidden">
            <div class="mx-auto w-full xl:max-w-7xl">
                {{ 'Module__Blog_BreadcrumbWrapper' | shape_new | shape_properties: Shape: 'FE__Breadcrumb', Data:breadcrumbList | shape_render }}
            </div>
        </div>
    </section>
  
    <section>
        <div class="mx-auto w-full xl:max-w-7xl">
            <div class="flex flex-col gap-16 py-16 px-4 md:gap-20 md:px-6 md:py-20 lg:gap-8 lg:flex-row lg:px-2 2xl:px-0 lg:pb-[120px]">
               
              <div class="flex flex-col gap-6 lg:w-2/3 animate-top" style="animation-delay: 200ms; animation-fill-mode: backwards;">
                {{ 'Module__Blog_PostListWrapper' | shape_new | shape_properties: Shape: 'FE__Blog_PostDetail', Data: postId | shape_render }}
              </div>
                
              <div class="flex flex-col gap-8 lg:w-1/3 lg:sticky top-24 lg:h-full animate-top" style="animation-delay: 400ms; animation-fill-mode: backwards;">
                {{ "FE__Search_Input" | shape_new | shape_render }}
                {{ 'Module__Blog_PostListWrapper' | shape_new | shape_properties: Shape: 'FE__Blog_CategoryList_Sidebar', Data: rootCategories| shape_render }}
                {{ 'Module__Blog_PostListWrapper' | shape_new | shape_properties: Shape: 'FE__Blog_PostList_Sidebar', Data: topPosts | shape_render }}
              </div>
              
            </div>
        </div>
    </section>

</main>