{% assign introduction = Model.Data %}
{% assign category = introduction.CurrentCategoryId | get_blog_categories_by_id %}
{% assign breadcrumbList = category | category_to_breadcrumb %}
{% assign imageDecor = "Web-17/decor-primary-full.svg" | generate_proxy_url: width: null, height: null %}
{% assign homeImageDecor = "Web-17/decor-white.svg" | generate_proxy_url: width: null, height: null %}

{% zone "Header" %}
  {{ 'Module__MenuWrapper' | shape_new | shape_properties: Shape: 'FE__Menu' | shape_render }}
{% endzone %}

{% zone "Footer" %}
  {{ "Module__FooterWrapper" | shape_new | shape_properties: Shape: 'FE__Footer' | shape_render }}
{% endzone %}

{{ 'Giới thiệu' | page_title_segment: position: '0' }}
{{ Site.SiteName | page_title_segment: position: 'end' }}

<main>
  <section>
    <div class="mx-auto w-full relative xl:max-w-[1920px]">
      <div class="absolute -z-10 md:right-[12%] md:inset-auto lg:left-0 xl:-top-1/4 xl:-left-[5%]">
        <img src="{{ imageDecor }}"class="w-full h-[451px] md:w-[622px] md:h-[677px] xl:w-[1151px] xl:h-[1253px]"alt="{{ imageDecor | raw }}">
      </div>
      <div class="flex justify-between items-center mt-20 px-4 py-[120px] md:px-6 md:py-[180px] lg:py-0 lg:pl-2 lg:pr-0 2xl:px-0 lg:animate-right">
        <div class="flex flex-col gap-6 2xl:ml-[320px]">
          {% assign breadcrumbList = '' | split: ',' | init_breadcrumb: lastTitle: 'Giới thiệu' %}
          {{ 'Module__Blog_BreadcrumbWrapper' | shape_new | shape_properties: Shape: 'FE__Breadcrumb', Data: 
           breadcrumbList | shape_render }}
          <div class="flex flex-col text-display-5 font-semibold text-primary-1 max-w-screen-sm md:text-display-4">
            <p>
              Thuận Thiên
            </p>
            <p class="text-secondary-1">
              Yêu Nông Nghiệp, Thương Nông Dân
            </p>
          </div>
        </div>
        <div class="hidden w-[44%] lg:flex">
          <div class="relative w-full pt-[105%]">
            <img
              alt=""
              src="{{ ThemeSettings.homeImageBreadcrumb.fullUrl }}"
              class="image-custom object-cover">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    {{ 'FE__Intro_Activities' | shape_new | shape_render }}
  </section>

  <section>
    {{ "FE__Intro_Fortune" | shape_new | shape_render }}
  </section>
  <section>
    {{ "FE__Introduction_Introduce" | shape_new | shape_render }}
  </section>
</main>

{% scriptblock depends_on: "jQuery: 3.6", at: "Foot" %}
  var swiperIntro = new Swiper(".swiperIntro", {
  spaceBetween: 30,
    mousewheel: true,
    pagination: {
    el: ".swiper-pagination_intro",
    clickable: true,
    },
    slidesPerView: 1,
    breakpoints: {
    1024: {
    slidesPerView: 2,
    },
    1280: {
    spaceBetween: 33,
    slidesPerView: 2.9,
    },
    },
    });{% endscriptblock %}