{% assign imageDecor = "Web-17/decor-primary-full.svg" | generate_proxy_url: width: null, height: null %}
{% assign homeImageDecor = "Web-17/decor-white.svg" | generate_proxy_url: width: null, height: null %}

{% zone "Header" %}
  {{ 'Module__MenuWrapper' | shape_new | shape_properties: Shape: 'FE__Menu' | shape_render }}
{% endzone %}

{% zone "Footer" %}
  {{ "Module__FooterWrapper" | shape_new | shape_properties: Shape: 'FE__Footer' | shape_render }}
{% endzone %}

{{ 'Liên Hệ' | page_title_segment: position: '0' }}
{{ Site.SiteName | page_title_segment: position: 'end' }}

<main>
  <section>
    <div class="bg-primary-4 mt-20">
      <div class="mx-auto w-full xl:max-w-7xl">
        {% assign breadcrumbList = '' | split: ',' | init_breadcrumb: lastTitle: 'Liên hệ' %}
        {{ 'Module__Blog_BreadcrumbWrapper' | shape_new | shape_properties: Shape: 'FE__Breadcrumb', Data: 
         breadcrumbList | shape_render }}
      </div>
    </div>
  </section>
  <section>
    <div class="mx-auto w-full relative overflow-hidden xl:overflow-visible xl:max-w-7xl">
      <div class="absolute -z-10 -right-[60%] w-[532px] h-[580px] md:right-auto md:left-[8%] xl:-left-[20%]">
        <img src="{{ imageDecor }}"class="w-full h-full"alt="{{ imageDecor | raw }}">
      </div>
      <div class="flex flex-col gap-12 py-16 px-4 md:px-6 md:py-20 xl:pb-28 xl:flex-row lg:overflow-hidden">
        <div class="flex flex-col xl:w-1/2 animate-left" style="animation-delay: 200ms; animation-fill-mode: backwards;">
          <h1 class="text-primary-1 text-display-5 font-semibold md:text-display-6 md:max-w-xl lg:max-w-none">Công Ty
            Trách Nhiệm Hữu Cơ
            <font color="#03650C">
              Thuận Thiên</font>
          </h1>
          <div class="flex flex-col gap-7 pt-8">
            <p class="text-secondary-1 font-semibold text-heading-4">Liên hệ</p>
            <div class="grid grid-cols-2 gap-6 text-primary-2 text-lg font-semibold">
              <div class="flex flex-col gap-1.5 md:flex-row">
                <p>0944 456 457 -</p>
                <p>0945 456 457</p>
              </div>
              <div class="flex flex-col gap-1.5 md:flex-row">
                <p>0944 456 457 -</p>
                <p>0945 456 457</p>
              </div>
              <div class="flex flex-col gap-1.5 md:flex-row">
                <p>0944 456 457 -</p>
                <p>0945 456 457</p>
              </div>
              <div class="flex flex-col gap-1.5 md:flex-row">
                <p>0944 456 457 -</p>
                <p>0945 456 457</p>
              </div>
            </div>
          </div>
          <div class="flex flex-col pt-12 gap-4">
            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2">
                <i class="twi-17-call-fill text-primary-1 text-xl leading-none"></i>
                <p class="text-neutral-1-600 font-medium text-lg">Số điện thoại</p>
              </div>
              <p class="text-neutral-1-900 text-body-1 pl-7">{{ ThemeSettings.phoneNumber | phone | raw }}</p>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2">
                <i class="twi-17-email-fill text-primary-1 text-xl leading-none"></i>
                <p class="text-neutral-1-600 font-medium text-lg">Email</p>
              </div>
              <p class="text-neutral-1-900 text-body-1 pl-7">{{ ThemeSettings.email | raw }}</p>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2">
                <i class="twi-17-location-fill text-primary-1 text-xl leading-none"></i>
                <p class="text-neutral-1-600 font-medium text-lg">Địa chỉ</p>
              </div>
              <p class="text-neutral-1-900 text-body-1 pl-7">{{ ThemeSettings.address | raw }}</p>
            </div>
          </div>
        </div>

        <div class="xl:w-1/2 animate-right1" style="animation-delay: 200ms; animation-fill-mode: backwards;">
          {% form action: 'ContactUs', controller: 'ContactUs', area: "TheWeb17", method: 'post', class: "flex flex-col
          gap-6" %}
            <div class="flex flex-col gap-6 border border-primary-1 rounded-tl-[40px] rounded-br-[40px] p-6">
              <div>{% render_section "Messages", required: false %}</div>
              <div class="grid gap-6 md:grid-cols-2">
                <div class="flex flex-col gap-2">
                  <p class="text-secondary-1 text-body-1 font-medium">Họ và tên</p>
                  <input
                    name="FullName"
                    id="FullName"
                    type="text"
                    placeholder="Nhập họ và tên của bạn"
                    class="placeholder:text-neutral-1-600 text-body-1 text-neutral-1-900 focus:outline-none border-b border-neutral-2-200 p-2">
                </div>
                <div class="flex flex-col gap-2">
                  <p class="text-secondary-1 text-body-1 font-medium">Email</p>
                  <input
                    name="Email"
                    id="Email"
                    type="email"
                    placeholder="Nhập email của bạn"
                    class="placeholder:text-neutral-1-600 text-body-1 text-neutral-1-900 focus:outline-none border-b border-neutral-2-200 p-2">
                </div>
                <div class="flex flex-col gap-2">
                  <p class="text-secondary-1 text-body-1 font-medium">Số điện thoại</p>
                  <input
                    type="tel"
                    name="PhoneNumber"
                    id="phoneNumber"
                    pattern="[0-9]{10}"
                    required
                    placeholder="Nhập số điện thoại của bạn"
                    class="placeholder:text-neutral-1-600 text-body-1 text-neutral-1-900 focus:outline-none border-b border-neutral-2-200 p-2">
                </div>
                <div class="flex flex-col gap-2">
                  <p class="text-secondary-1 text-body-1 font-medium">Tiêu đề</p>
                  <input
                    type="text"
                    name="title"
                    id="title"
                    placeholder="Nhập tiêu đề"
                    class="placeholder:text-neutral-1-600 text-body-1 text-neutral-1-900 focus:outline-none border-b border-neutral-2-200 p-2">
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <p class="text-secondary-1 text-body-1 font-medium">Message</p>
                <input
                  type="text"
                  name="Message"
                  id="message"
                  placeholder="Nhập nội dung"
                  class="placeholder:text-neutral-1-600 text-body-1 text-neutral-1-900 focus:outline-none border-b border-neutral-2-200 p-2">
              </div>
            </div>
            <div class="flex justify-end">
              <button
                name="submit"
                type="submit"
                data-submit="...Sending"
                class="text-white text-body-1 font-medium px-16 py-2 bg-primary-1 border border-primary-1 rounded-full btn-full">Gửi</button>
            </div>
          {% endform %}

        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="mx-auto relative w-full xl:max-w-[1920px] reveal fadeInUp">
      <div class="swiper swiperMap w-full">
        <div class="swiper-wrapper">
          {% assign numberString = "First,Second,Third,Fourth,Fifth" | slip: "," %}
          {% for i in numberString %}
            {% assign property = "contactAddress" + i %}
            <div class="swiper-slide w-full">
              <div class="mapouter">
                <div class="gmap_canvas">
                  <iframe
                    class="gmap_iframe"
                    width="100%"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=600&amp;hl=en&amp;q=Số 1 Cống Quỳnh, Phường Phạm Ngũ Lão, Quận 1, Thành phố Hồ Chí Minh&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                  <a href="https://mcpedls.com/">Minecraft Download</a>
                </div>
                <style>
                  .mapouter {
                    position: relative;
                    text-align: right;
                    width: 100%;
                    height: 600px;
                  }

                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    width: 100%;
                    height: 600px;
                  }

                  .gmap_iframe {
                    height: 600px !important;
                  }
                </style>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div thumbsSlider="" class="swiper swiperContact absolute pb-5 bottom-0 flex max-w-full 2xl:pl-60 xl:pr-5">
        <div class="swiper-wrapper flex items-center">
          <div class="swiper-slide flex flex-col gap-2 group bg-white hover:bg-primary-1 rounded-tl-[20px] rounded-br-[20px] py-4 pr-3.5 pl-[46px] justify-center w-[305px] shadow-[0px_0px_35px_rgba(0,0,0,0.05)]">
            <div class="flex relative items-center">
              <h1 class="font-semibold text-lg text-neutral-1-600 group-hover:text-white min-h-[28px]">Đại lý TP HCM
              </h1>
              <span class="w-1.5 h-1.5 bg-warning-500 rounded-full absolute -left-4"></span>
            </div>
            <p class="text-neutral-1-700 text-body-2 group-hover:text-white min-h-[44px]">{{
   ThemeSettings.contactAddressFirst | raw }}</p>
            <a href="tel:{{ThemeSettings.contactPhoneNumberFirst.phoneNumber }}"class="text-title-1 font-semibold text-primary-1 group-hover:text-white min-h-[24px]">{{
   ThemeSettings.contactPhoneNumberFirst | phone | raw }}</a>
          </div>
          <div class="swiper-slide flex flex-col gap-2 group bg-white hover:bg-primary-1 rounded-tl-[20px] rounded-br-[20px] py-4 pr-3.5 pl-[46px] justify-center w-[305px] shadow-[0px_0px_35px_rgba(0,0,0,0.05)]">
            <div class="flex relative items-center">
              <h1 class="font-semibold text-lg text-neutral-1-600 group-hover:text-white min-h-[28px]">Đại lý Tây Ninh
              </h1>
              <span class="w-1.5 h-1.5 bg-warning-500 rounded-full absolute -left-4"></span>
            </div>
            <p class="text-neutral-1-700 text-body-2 group-hover:text-white min-h-[44px]">{{
   ThemeSettings.contactAddressSecond | raw }}</p>
            <a href="tel:{{ThemeSettings.contactPhoneNumberSecond.phoneNumber }}"class="text-title-1 font-semibold text-primary-1 group-hover:text-white min-h-[24px]">{{
   ThemeSettings.contactPhoneNumberSecond | phone | raw }}</a>
          </div>
          <div class="swiper-slide flex flex-col gap-2 group bg-white hover:bg-primary-1 rounded-tl-[20px] rounded-br-[20px] py-4 pr-3.5 pl-[46px] justify-center w-[305px] shadow-[0px_0px_35px_rgba(0,0,0,0.05)]">
            <div class="flex relative items-center">
              <h1 class="font-semibold text-lg text-neutral-1-600 group-hover:text-white min-h-[28px]">Đại lý TP HCM
              </h1>
              <span class="w-1.5 h-1.5 bg-warning-500 rounded-full absolute -left-4"></span>
            </div>
            <p class="text-neutral-1-700 text-body-2 group-hover:text-white min-h-[44px]">{{
   ThemeSettings.contactAddressThird | phone | raw }}</p>
            <a href="tel:{{ThemeSettings.contactPhoneNumberThird.phoneNumber }}"class="text-title-1 font-semibold text-primary-1 group-hover:text-white min-h-[24px]">{{
   ThemeSettings.contactPhoneNumberThird | phone | raw }}</a>
          </div>
          <div class="swiper-slide flex flex-col gap-2 group bg-white hover:bg-primary-1 rounded-tl-[20px] rounded-br-[20px] py-4 pr-3.5 pl-[46px] justify-center w-[305px] shadow-[0px_0px_35px_rgba(0,0,0,0.05)]">
            <div class="flex relative items-center">
              <h1 class="font-semibold text-lg text-neutral-1-600 group-hover:text-white min-h-[28px]">Đại lý Bà Rịa -
                Vũng Tàu</h1>
              <span class="w-1.5 h-1.5 bg-warning-500 rounded-full absolute -left-4"></span>
            </div>
            <p class="text-neutral-1-700 text-body-2 group-hover:text-white min-h-[44px]">{{
   ThemeSettings.contactAddressFourth | raw }}</p>
            <a href="tel:{{ThemeSettings.contactPhoneNumberFourth.phoneNumber }}"class="text-title-1 font-semibold text-primary-1 group-hover:text-white min-h-[24px]">{{
   ThemeSettings.contactPhoneNumberFourth | phone | raw }}</a>
          </div>
          <div class="swiper-slide flex flex-col gap-2 group bg-white hover:bg-primary-1 rounded-tl-[20px] rounded-br-[20px] py-4 pr-3.5 pl-[46px] justify-center w-[305px] shadow-[0px_0px_35px_rgba(0,0,0,0.05)]">
            <div class="flex relative items-center">
              <h1 class="font-semibold text-lg text-neutral-1-600 group-hover:text-white min-h-[28px]">Đại lý Đà Nẵng
              </h1>
              <span class="w-1.5 h-1.5 bg-warning-500 rounded-full absolute -left-4"></span>
            </div>
            <p class="text-neutral-1-700 text-body-2 group-hover:text-white min-h-[44px]">{{
   ThemeSettings.contactAddressFifth | raw }}</p>
            <a href="tel:{{ThemeSettings.contactPhoneNumberFifth.phoneNumber }}"class="text-title-1 font-semibold text-primary-1 group-hover:text-white min-h-[24px]">{{
   ThemeSettings.contactPhoneNumberFifth | phone | raw }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% scriptblock depends_on: "jQuery: 3.6", at: "Foot" %}
  var swiper = new Swiper(".swiperContact", {
  slidesPerView: 1.3,
        spaceBetween: 32,
        pagination: {
        clickable: true,
        },
        centeredSlides: true,
        
        breakpoints: {
        768: {
        slidesPerView: 2.5,
        },
        1536: {
        slidesPerView: 5,
        centeredSlides: false,
        },
        }
        });
        var swiper2 = new Swiper(".swiperMap", {
        loop: false,
        simulateTouch: false,
        thumbs: {
        swiper: swiper,
        },
        });
        
        var nameInput = document.querySelector('input[name="FullName"]');
        nameInput.setCustomValidity('Vui lòng nhập tên của bạn!');
        if(nameInput){
        nameInput.addEventListener('input', function() {
        if (this.value.trim() === ''){
        this.setCustomValidity('Vui lòng nhập tên của bạn!');
        }
        else{
        this.setCustomValidity('');
        }
        }, false);
        
        }
        var emailInput = document.querySelector('input[name="Email"]');
        emailInput.setCustomValidity('Vui lòng nhập email của bạn!');
        if(emailInput){
        emailInput.addEventListener('input', function() {
        if (this.value.trim() === ''){
        this.setCustomValidity('Vui lòng nhập email của bạn!');
        }
        else{
        this.setCustomValidity('');
        }
        }, false);
        emailInput.addEventListener('invalid', function() {
        if ( this.value.trim() !== '' && this.value.search("@") == -1){
        this.setCustomValidity('Email không đúng định dạng. Xin vui lòng nhập lại!');
        }
        }, false);
        }
        
        var phoneInput = document.querySelector('input[name="PhoneNumber"]');
        if (phoneInput) {
        phoneInput.addEventListener('input', () => {
        phoneInput.setCustomValidity('');
        phoneInput.checkValidity();
        });
        phoneInput.addEventListener('invalid', () => {
        if(phoneInput.value == '') {
        phoneInput.setCustomValidity('Vui lòng nhập số điện thoại của bạn!');
        } else {
        phoneInput.setCustomValidity('Số điện thoại không đúng định dạng : 0123456789. Xin vui lòng nhập lại!');
        }
        });
        }{% endscriptblock %}