{% assign homeImageDecor = "Web-17/decor-white.svg" | generate_proxy_url: width: null, height: null %}
{% assign imageDecor = "Web-17/decor-primary-full.svg" | generate_proxy_url: width: null, height: null %}

{% assign data = Model.Data %}

{% assign topPosts = "Desc" | get_posts_by_view %}
{% assign newestProducts = "" | get_newest_products: limit: 8 %}

{{ 'Trang chủ' | page_title_segment: position: '0' }}
{{ Site.SiteName | page_title_segment: position: 'end' }}

{% zone "Header" %}
  {{ 'Module__MenuWrapper' | shape_new | shape_properties: Shape: 'FE__Menu' | shape_render }}
{% endzone %}

{% zone "Footer" %}
  {{ "Module__FooterWrapper" | shape_new | shape_properties: Shape: 'FE__Footer' | shape_render }}
{% endzone %}

<main>
  <section>
    {{ 'FE__Home_Banner' | shape_new | shape_render }}
  </section>

  <section>
    {{ 'FE__Home_Activities' | shape_new | shape_render }}
  </section>

  <section>
    {{ 'Module__Shop_ProductListWrapper' | shape_new | shape_properties: Shape: "FE__Home_ProductList", Data: newestProducts | shape_render }}
  </section>

  <section>
    {{ 'FE__Home_Infomation' | shape_new | shape_render }}
  </section>

  <section>
    {{ "FE__Home_Customers" | shape_new | shape_render }}
  </section>

  <section>
    <div class="w-full flex flex-col gap-10 md:pt-16 xl:pt-10 xl:gap-16">
      <div class="w-full mx-auto xl:max-w-7xl">
        <div class="flex items-center gap-4 px-6 lg:px-2 2xl:px-0 reveal fadeInDown">
          <h2 class="text-header-1 whitespace-nowrap font-semibold text-secondary-1 md:text-heading-3 lg:text-heading-2"><span class="text-primary-1">BÀI VIẾT</span> NỔI BẬT</h2>
          <div class="border-t border-primary-1 flex-auto hidden md:flex"></div>
          <div class="w-28 relative hidden md:flex">
            <div class="swiper-button-prev swiper-button-prev_post_mostview left-0 hidden h-12 w-12 bg-primary-1 rounded-full md:flex"></div>
            <div class="swiper-button-next swiper-button-next_post_mostview right-0 hidden h-12 w-12 bg-primary-1 rounded-full md:flex"></div>
          </div>
        </div>
      </div>

      <div class="relative w-full px-6 mx-auto md:pr-0 lg:pl-2 2xl:max-w-[1920px] 2xl:px-0">
        <div class="absolute hidden w-full -z-10 -left-[28%] bottom-0 md:flex xl:-left-[15%] xl:-bottom-0">
          <div class="w-2/3 xl:w-5/12">
            <div class="relative w-full pt-[185%] xl:pt-[119%]">
              <img alt="{{ imageDecor | raw }}"src="{{ imageDecor }}"class="image-custom object-contain">
            </div>
          </div>
        </div>
        {{ "Module__Blog_PostListWrapper" | shape_new | shape_properties: Data: topPosts, Shape: "FE__Post_Mostview" | shape_render }}
      </div>
    </div>
  </section>

  <div id="react-notification"></div>
  <div id="react-modal-product"></div>
  
</main>

{% scriptblock depends_on: "jQuery", at: "Foot" %}
  var swiperOffer = new Swiper(".swiperOffer", {
  spaceBetween: 30,
    mousewheel: true,
    pagination: {
      el: ".swiper-pagination_offer",
      clickable: true,
    },
    slidesPerView: 1,
    breakpoints: {
      1024: {
        slidesPerView: 2,
      },
      1280: {
        slidesPerView: 2.9,
      },
    },
   });
{% endscriptblock %}
{% scriptblock depends_on: "jQuery", at: "Foot" %}
  var a = 0;
  $(window).scroll(function () {
    var oTop = $("#counter-box").offset().top - window.innerHeight;
    if (a == 0 && $(window).scrollTop() > oTop) {
      $('.counter').each(function (index) {
        var size = $(this).text().split(".")[1] ? $(this).text().split(".")[1].length : 0;
        $(this).prop('Counter',0).animate({
          Counter: $(this).text()
        }, 
        {
          duration: 2000,
          easing: 'swing',
          step: function (now) {
            $(this).text(parseFloat(now).toFixed(size));
          }
        });
      });
      a = 1;
    }
  });
{% endscriptblock %}
{% scriptblock depends_on: "jQuery", at: "Foot" %}
  var swiperPostMostview = new Swiper(".swiperPostMostview", {
    slidesPerView: 1,
    spaceBetween: 30,
    pagination: {
    el: ".swiper-pagination_post_mostview",
    clickable: true,
    },
    breakpoints: {
        768: {
            navigation: {
                nextEl: ".swiper-button-next_post_mostview",
                prevEl: ".swiper-button-prev_post_mostview",
            },
            slidesPerView: 1.5,
            spaceBetween: 40,
        },
        1280: {
            navigation: {
                nextEl: ".swiper-button-next_post_mostview",
                prevEl: ".swiper-button-prev_post_mostview",
            },
            slidesPerView: 2.9,
            spaceBetween: 50,
        },
    },
  });
{% endscriptblock %}

         