{% assign imageDecor = "Web-17/decor-primary-full.svg" | generate_proxy_url: width: null, height: null %}
{% assign filter = Model.Data %}
{% assign key = filter.Key %}
{% assign limit = filter.Limit %}
{% assign offset = filter.Offset %}
{% assign categoryId = filter.CategoryId %}
{% assign timePublish = filter.TimePublish %}
{% assign tags = filter.Tags %}
{% assign rootCategories = "Newest" | get_blog_categories: limit: 99 %}
{% assign timeFilter = "-1,0,7,30" | split: "," %}
{% assign postsResult = filter.Key | default: '' | search_posts: offset: offset, limit: 12, timePublish: timePublish, categoryId: categoryId, tags: tags %}
{% assign keyParam = "" %}
{% if key != "" %}
  {% assign keyParam = "key=" | append: key %}
{% endif %}

{% zone "Header" %}
  {{ 'Module__MenuWrapper' | shape_new | shape_properties: Shape: 'FE__Menu' | shape_render }}
{% endzone %}

{% zone "Footer" %}
  {{ "Module__FooterWrapper" | shape_new | shape_properties: Shape: 'FE__Footer' | shape_render }}
{% endzone %}

{{ 'Tìm Kiếm' | page_title_segment: position: '0' }}
{{ Site.SiteName | page_title_segment: position: 'end' }}

<main>
  <section>
    <div class="bg-primary-4 mt-20">
      <div class="mx-auto w-full xl:max-w-7xl">
        {% assign breadcrumbList = '' | split: ',' | init_breadcrumb: lastTitle: 'Tìm kiếm' %}
        {{ 'Module__Blog_BreadcrumbWrapper' | shape_new | shape_properties: Shape: 'FE__Breadcrumb', Data: breadcrumbList | shape_render }}
      </div>
    </div>
  </section>

  <section>
    <div class="w-full relative mx-auto xl:max-w-7xl">
      <div class="absolute hidden -z-10 -left-[38%] top-1/4 xl:flex">
        <img
          src="{{ imageDecor }}"
          class="object-contain w-[600px] h-[626px]"
          alt="">
      </div>
      <div class="px-6 py-20 flex flex-col gap-8 lg:px-2 lg:py-[120px] 2xl:px-0">
        <!-- tìm kiếm -->
        <div class="pb-8 border-b border-neutral-2-200 flex flex-col gap-4 lg:flex-row lg:justify-between">
          <h2 class="text-secondary-1 font-semibold text-header-1 md:text-heading-3 xl:text-heading-2 lg:w-2/3">
            {% if filter.ShowKeyQuery or filter.ShowTagsQuery %}
              {% if filter.ShowKeyQuery %}
                {{ 'Tìm kiếm "' | append: key | append: '"' | raw }}
              {% else %}
                {{ 'Tìm kiếm "' | append: tags[0] | append: '"' | raw }}
              {% endif %}
            {% else %}
              {{ 'Tìm kiếm' | raw }}
            {% endif %}
          </h2>
          <div class="flex items-center w-full lg:w-1/3">
            {{ "FE__Search_Input" | shape_new | shape_render }}
          </div>
        </div>

        <div class="w-full flex flex-col gap-6">
          <p class="text-secondary-1 font-semibold">
            {{ 'Tìm thấy ' | append: postsResult.TotalResult | append: ' kết quả' | t | raw }}
          </p>
          {% if postsResult.Items.size > 0 %}
            <div class="w-full flex flex-col gap-4 lg:flex-row lg:gap-8">
              <div class="w-full flex flex-col gap-2">
                <p class="text-body-2 text-neutral-1-900">
                  Chuyên mục
                </p>
                <div class="w-full flex relative dropdown scrollbar">
                  <button class="dropdown-btn flex w-full justify-between items-center gap-2 pl-3 border border-neutral-2-200 rounded md:w-full">
                    {% if categoryId == 0 %}
                      <p class="text-body-2 text-neutral-1-900">Tất cả</p>
                    {% else %}
                      {% assign selectedCategory = rootCategories.Items | where: "Id", categoryId | first %}
                      <p class="text-body-2 text-neutral-1-900 line-clamp-1">{{ selectedCategory.Title | raw }}</p>
                    {% endif %}
                    <span class="twi-17-arrow-down-line text-2xl leading-6 text-neutral-1-500 p-3"></span>
                  </button>
                  <div class="dropdown-panel absolute top-[50px] right-0 py-2 z-20 w-full hidden max-h-[338px] overflow-y-hidden">
                    <ul class="flex flex-col w-full bg-white overflow-y-scroll rounded border border-neutral-2-200 shadow-dropdown">
                      {% assign selectedAll = "" %}
                      {% if categoryId == 0 %}
                        {% assign selectedAll = "text-secondary-1 font-medium justify-between icon-selected" %}
                      {% endif %}
                      <li>
                        <a href="{{"~/blog/search?" | append: keyParam | append: "&timePublish=" | append: timePublish | append:"&tags=" | append: filter.Tags | absolute_url | raw}}" class="w-full flex px-4 py-3 text-body-2 justify-between {{ selectedAll }}">Tất cả</a>
                      </li>
                      {% for category in rootCategories.Items %}
                        {% assign selectedCategoryId = "" %}
                        {% if categoryId == category.Id %}
                          {% assign selectedCategoryId = "text-secondary-1 font-medium justify-between icon-selected" %}
                        {% endif %}
                        <li>
                          <a href="{{ "~/blog/search?"  | append: keyParam  | append: "&categoryId="  | append: category.Id | append: "&timePublish=" | append: timePublish | append:"&tags="  | append: filter.Tags | absolute_url | raw }}" class="w-full flex px-4 py-3 text-body-2 justify-between {{selectedCategoryId}}">{{ category.Title | raw }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>

              <div class="w-full flex flex-col gap-2">
                <p class="text-body-2 text-neutral-1-900">
                  Thời gian
                </p>
                <div class="w-full flex relative dropdown scrollbar">
                  <button class="dropdown-btn flex w-full justify-between items-center gap-2 pl-3 border border-neutral-2-200 rounded md:w-full">
                    {% case timePublish %}
                      {% when -1 %}
                      <span class="text-body-2 text-neutral-1-900">Tất cả</span>
                      {% when 0 %}
                      <span class="text-body-2 text-neutral-1-900">Hôm nay</span>
                    {% else %}
                      <span class="text-body-2 text-neutral-1-900">{{ timePublish }} ngày trước</span>
                    {% endcase %}
                    <span class="twi-17-arrow-down-line text-2xl leading-6 text-neutral-1-500 p-3"></span>
                  </button>
                  <div class="dropdown-panel absolute top-[50px] right-0 z-20 w-full hidden max-h-[338px] overflow-y-hidden">
                    <ul class="flex flex-col w-full bg-white overflow-y-scroll rounded border border-neutral-2-200 shadow-dropdown">
                      {% for day in timeFilter %}
                        {% assign selected = "" %}
                        {% assign timePublishDay = day | minus: 0 %}
                        {% if timePublish == timePublishDay %}
                          {% assign selected = "text-secondary-1 font-medium justify-between icon-selected" %}
                        {% endif %}
                        <li>
                          <a href="{{"~/blog/search?"  | append: keyParam  | append: "&categoryId="  | append: categoryId  | append: "&timePublish="  | append: timePublishDay | append:"&tags="  | append: filter.Tags | absolute_url | raw}}" class="w-full flex px-4 py-3 text-body-2 justify-between {{selected}}">
                            {% case timePublishDay %}
                              {% when -1 %}
                              Tất cả
                              {% when 0 %}
                              Hôm nay
                            {% else %}
                              {{ timePublishDay }} ngày trước
                            {% endcase %}
                          </a>
                        </li>
                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- kết quả -->
            <div class="flex flex-col gap-10 justify-center">
              {{ "Module__Blog_PostListWrapper" | shape_new | shape_properties: Data: postsResult, Shape: "FE__Post_MostView" | shape_render }}
              {{ "Module__Blog_PaginationWrapper" | shape_new | shape_properties: 
               pageIndex: postsResult.PageIndex,
               PageSize: 12,
               Total: postsResult.TotalResult,
               Shape: "FE__Blog_Pagination"
               | shape_render }}
            </div>
          {% else %}
            <p class="text-body-1 text-neutral-1-900">Không có kết quả bạn cần tìm</p>
          {% endif %}
        </div>

      </div>
    </div>
  </section>
</main>
{% scriptblock depends_on: "jQuery", at: "Foot" %}
  const initpXDropdown = () => {
  const dropdownList = document.querySelectorAll(".dropdown");
                                                  window.addEventListener("click", () => {
                                                    dropdownList.forEach((item) => {
                                                      item.classList.remove("active-dropdown");
                                                    });
                                                  });
                                                  dropdownList.forEach((item) => {
                                                      const dropdownBtn = item.querySelector(".dropdown-btn");
                                                      dropdownBtn.addEventListener("click", (event) => {
                                                        event.stopPropagation();
                                                        dropdownList.forEach((item) => {
                                                          item.classList.remove("active-dropdown");
                                                        });
                                                        item.classList.toggle("active-dropdown");
                                                      });
                                                    });
                                                  };
                                                  initpXDropdown();{% endscriptblock %}